<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-tree-demo-basic" nzTitle="基本"></nz-link><nz-link nzHref="#components-tree-demo-basic-controlled" nzTitle="受控操作示例"></nz-link><nz-link nzHref="#components-tree-demo-draggable" nzTitle="拖动示例"></nz-link><nz-link nzHref="#components-tree-demo-draggable-confirm" nzTitle="拖动示例-二次校验"></nz-link><nz-link nzHref="#components-tree-demo-dynamic" nzTitle="异步数据加载"></nz-link><nz-link nzHref="#components-tree-demo-search" nzTitle="可搜索"></nz-link><nz-link nzHref="#components-tree-demo-line" nzTitle="连接线"></nz-link><nz-link nzHref="#components-tree-demo-customized-icon" nzTitle="自定义图标"></nz-link><nz-link nzHref="#components-tree-demo-directory" nzTitle="目录"></nz-link><nz-link nzHref="#components-tree-demo-virtual-scroll" nzTitle="虚拟滚动"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Tree<span class="subtitle">树形控件</span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/doc/index.zh-CN.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><p>文件夹、组织架构、生物分类、国家地区等等，世间万物的大多数结构都是树形结构。使用<code>树控件</code>可以完整展现其中的层级关系，并具有展开收起选择等交互功能。</p>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzTreeModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/tree'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="基本"
  [nzId]="'components-tree-demo-basic'"
  nzSelector="nz-demo-tree-basic"
  [nzLink]="'components-tree-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-basic <name>"
  nzComponentName="NzDemoTreeBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/basic.md'">
	<nz-demo-tree-basic demo></nz-demo-tree-basic>
	<div intro ngNonBindable>
		<p>最简单的用法，展示可勾选，可选中，禁用，默认展开等功能。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="拖动示例"
  [nzId]="'components-tree-demo-draggable'"
  nzSelector="nz-demo-tree-draggable"
  [nzLink]="'components-tree-demo-draggable'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-draggable <name>"
  nzComponentName="NzDemoTreeDraggableComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/draggable.md'">
	<nz-demo-tree-draggable demo></nz-demo-tree-draggable>
	<div intro ngNonBindable>
		<p>将节点拖拽到其他节点内部或前后。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="异步数据加载"
  [nzId]="'components-tree-demo-dynamic'"
  nzSelector="nz-demo-tree-dynamic"
  [nzLink]="'components-tree-demo-dynamic'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-dynamic <name>"
  nzComponentName="NzDemoTreeDynamicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/dynamic.md'">
	<nz-demo-tree-dynamic demo></nz-demo-tree-dynamic>
	<div intro ngNonBindable>
		<p>点击展开节点，动态加载数据。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="连接线"
  [nzId]="'components-tree-demo-line'"
  nzSelector="nz-demo-tree-line"
  [nzLink]="'components-tree-demo-line'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-line <name>"
  nzComponentName="NzDemoTreeLineComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/line.md'">
	<nz-demo-tree-line demo></nz-demo-tree-line>
	<div intro ngNonBindable>
		<p>带连接线的树。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="目录"
  [nzId]="'components-tree-demo-directory'"
  nzSelector="nz-demo-tree-directory"
  [nzLink]="'components-tree-demo-directory'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-directory <name>"
  nzComponentName="NzDemoTreeDirectoryComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/directory.md'">
	<nz-demo-tree-directory demo></nz-demo-tree-directory>
	<div intro ngNonBindable>
		<p>使用 <code>nzTreeTemplate</code> 实现自定义目录结构，通过 <code>let-origin=&quot;origin&quot;</code> 获得原始数据，<code>let-node</code> 获取当前节点状态。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="受控操作示例"
  [nzId]="'components-tree-demo-basic-controlled'"
  nzSelector="nz-demo-tree-basic-controlled"
  [nzLink]="'components-tree-demo-basic-controlled'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-basic-controlled <name>"
  nzComponentName="NzDemoTreeBasicControlledComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/basic-controlled.md'">
	<nz-demo-tree-basic-controlled demo></nz-demo-tree-basic-controlled>
	<div intro ngNonBindable>
		<p>受控操作示例(默认)。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="拖动示例-二次校验"
  [nzId]="'components-tree-demo-draggable-confirm'"
  nzSelector="nz-demo-tree-draggable-confirm"
  [nzLink]="'components-tree-demo-draggable-confirm'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-draggable-confirm <name>"
  nzComponentName="NzDemoTreeDraggableConfirmComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/draggable-confirm.md'">
	<nz-demo-tree-draggable-confirm demo></nz-demo-tree-draggable-confirm>
	<div intro ngNonBindable>
		<p>nzBeforeDrop: 在拖拽放置事件(drop事件)之前做校验, 例如仅允许拖拽到内部(延时一秒)、放置前结合modal验证等。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="可搜索"
  [nzId]="'components-tree-demo-search'"
  nzSelector="nz-demo-tree-search"
  [nzLink]="'components-tree-demo-search'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-search <name>"
  nzComponentName="NzDemoTreeSearchComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/search.md'">
	<nz-demo-tree-search demo></nz-demo-tree-search>
	<div intro ngNonBindable>
		<p>可搜索的树。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="自定义图标"
  [nzId]="'components-tree-demo-customized-icon'"
  nzSelector="nz-demo-tree-customized-icon"
  [nzLink]="'components-tree-demo-customized-icon'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-customized-icon <name>"
  nzComponentName="NzDemoTreeCustomizedIconComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/customized-icon.md'">
	<nz-demo-tree-customized-icon demo></nz-demo-tree-customized-icon>
	<div intro ngNonBindable>
		<p>可以针对不同的节点定制图标。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="虚拟滚动"
  [nzId]="'components-tree-demo-virtual-scroll'"
  nzSelector="nz-demo-tree-virtual-scroll"
  [nzLink]="'components-tree-demo-virtual-scroll'"
  nzGenerateCommand="ng g ng-zorro-antd:tree-virtual-scroll <name>"
  nzComponentName="NzDemoTreeVirtualScrollComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/virtual-scroll.md'">
	<nz-demo-tree-virtual-scroll demo></nz-demo-tree-virtual-scroll>
	<div intro ngNonBindable>
		<p>设定 <code>nzVirtualHeight</code> 开启虚拟滚动。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-tree"><span>nz-tree</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-tree'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
<th>全局配置</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzData]</code></td>
<td>元数据</td>
<td><code>NzTreeNodeOptions[] | NzTreeNode[]</code></td>
<td><code>[]</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzBlockNode]</code></td>
<td>是否节点占据一行</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzCheckable]</code></td>
<td>节点前添加 Checkbox 复选框</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzShowExpand]</code></td>
<td>节点前添加展开图标</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzShowLine]</code></td>
<td>是否展示连接线</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzExpandedIcon]</code></td>
<td>自定义展开图标</td>
<td><code>TemplateRef&lt;&#123; $implicit: NzTreeNode &#125;&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>[nzShowIcon]</code></td>
<td>是否展示 TreeNode title 前的图标，没有默认样式</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzAsyncData]</code></td>
<td>是否异步加载(显示加载状态)</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzDraggable]</code></td>
<td>设置节点可拖拽</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzMultiple]</code></td>
<td>支持点选多个节点（节点本身）</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzHideUnMatched]</code></td>
<td>搜索隐藏未匹配的节点</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzCheckStrictly]</code></td>
<td>checkable 状态下节点选择完全受控（父子节点选中状态不再关联）</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzTreeTemplate]</code></td>
<td>自定义节点</td>
<td><code>TemplateRef&lt;&#123; $implicit: NzTreeNode &#125;&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>[nzExpandAll]</code></td>
<td>默认展开所有树节点</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzExpandedKeys]</code></td>
<td>展开指定的树节点</td>
<td><code>string[]</code></td>
<td><code>[]</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzCheckedKeys]</code></td>
<td>指定选中复选框的树节点</td>
<td><code>string[]</code></td>
<td><code>[]</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzSelectedKeys]</code></td>
<td>指定选中的树节点</td>
<td><code>string[]</code></td>
<td><code>[]</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzSearchValue]</code></td>
<td>按需筛选树高亮节点(参考可搜索的树),双向绑定</td>
<td><code>string</code></td>
<td><code>null</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzSearchFunc]</code></td>
<td>自定义匹配方法，配合 nzSearchValue 使用</td>
<td><code>(node: NzTreeNodeOptions) =&gt; boolean</code></td>
<td><code>null</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzBeforeDrop]</code></td>
<td>drop前二次校验,允许用户自行决定是否允许放置</td>
<td><code>(confirm: NzFormatBeforeDropEvent) =&gt; Observable&lt;boolean&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>[nzVirtualHeight]</code></td>
<td>虚拟滚动的总高度</td>
<td><code>string</code></td>
<td><code>-</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzVirtualItemSize]</code></td>
<td>虚拟滚动时每一列的高度，与 <a href="https://material.angular.io/cdk/scrolling/api">cdk itemSize</a> 相同</td>
<td><code>number</code></td>
<td><code>0</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzVirtualMaxBufferPx]</code></td>
<td>缓冲区最大像素高度，与 <a href="https://material.angular.io/cdk/scrolling/api">cdk maxBufferPx</a> 相同</td>
<td><code>number</code></td>
<td><code>200</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzVirtualMinBufferPx]</code></td>
<td>缓冲区最小像素高度，低于该值时将加载新结构，与 <a href="https://material.angular.io/cdk/scrolling/api">cdk minBufferPx</a> 相同</td>
<td><code>number</code></td>
<td><code>100</code></td>
<td></td>
</tr>
<tr>
<td><code>(nzClick)</code></td>
<td>点击树节点触发</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzDblClick)</code></td>
<td>双击树节点触发</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzContextMenu)</code></td>
<td>右键树节点触发</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzCheckBoxChange)</code></td>
<td>点击树节点 Checkbox 触发</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzExpandChange)</code></td>
<td>点击展开树节点图标触发</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzSearchValueChange)</code></td>
<td>搜索节点时调用(与nzSearchValue配合使用)</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzOnDragStart)</code></td>
<td>开始拖拽时调用</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzOnDragEnter)</code></td>
<td>dragenter 触发时调用</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzOnDragOver)</code></td>
<td>dragover 触发时调用</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzOnDragLeave)</code></td>
<td>dragleave 触发时调用</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzOnDrop)</code></td>
<td>drop 触发时调用</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>(nzOnDragEnd)</code></td>
<td>dragend 触发时调用</td>
<td><code>EventEmitter&lt;NzFormatEmitEvent&gt;</code></td>
<td>-</td>
<td></td>
</tr>
</tbody></table>
<h4 id="方法"><span>方法</span><a onclick="window.location.hash = '方法'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>方法名</th>
<th>说明</th>
<th>返回值</th>
</tr>
</thead>
<tbody><tr>
<td>getTreeNodes</td>
<td>获取组件 NzTreeNode 节点</td>
<td><code>NzTreeNode[]</code></td>
</tr>
<tr>
<td>getTreeNodeByKey</td>
<td>按 key 获取 NzTreeNode 节点</td>
<td><code>NzTreeNode</code></td>
</tr>
<tr>
<td>getCheckedNodeList</td>
<td>获取组件 checkBox 被点击选中的节点</td>
<td><code>NzTreeNode[]</code></td>
</tr>
<tr>
<td>getSelectedNodeList</td>
<td>获取组件被选中的节点</td>
<td><code>NzTreeNode[]</code></td>
</tr>
<tr>
<td>getHalfCheckedNodeList</td>
<td>获取组件半选状态节点</td>
<td><code>NzTreeNode[]</code></td>
</tr>
<tr>
<td>getExpandedNodeList</td>
<td>获取组件展开状态节点</td>
<td><code>NzTreeNode[]</code></td>
</tr>
<tr>
<td>getMatchedNodeList</td>
<td>获取组搜索匹配到的节点</td>
<td><code>NzTreeNode[]</code></td>
</tr>
</tbody></table>
<h4 id="nztreenodeoptions-props"><span>NzTreeNodeOptions props</span><a onclick="window.location.hash = 'nztreenodeoptions-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td>title</td>
<td>标题</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td>key</td>
<td>整个树范围内的所有节点的 key 值不能重复且不为空！</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td>icon</td>
<td>节点前的图标，与 <code>nzShowIcon</code> 组合使用</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td>children</td>
<td>子节点</td>
<td><code>NzTreeNodeOptions[]</code></td>
<td>-</td>
</tr>
<tr>
<td>isLeaf</td>
<td>设置为叶子节点(叶子节点不可被拖拽模式放置)</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>checked</td>
<td>设置节点 Checkbox 是否选中</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>selected</td>
<td>设置节点本身是否选中</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>expanded</td>
<td>设置节点是否展开(叶子节点无效)</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>selectable</td>
<td>设置节点是否可被选中</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>disabled</td>
<td>设置是否禁用节点(不可进行任何操作)</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>disableCheckbox</td>
<td>设置节点禁用 Checkbox</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>[key: string]</td>
<td>自定义数据,可通过 NzTreeNode 的 origin 字段获取</td>
<td><code>any</code></td>
<td>-</td>
</tr>
</tbody></table>
<h4 id="nzformatemitevent-props"><span>NzFormatEmitEvent props</span><a onclick="window.location.hash = 'nzformatemitevent-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td>eventName</td>
<td>事件名</td>
<td>enum: <code>click</code> <code>dblclick</code> <code>contextmenu</code> <code>check</code> <code>expand</code> <code>search</code> &amp; <code>dragstart</code> <code>dragenter</code> <code>dragover</code> <code>dragleave</code> <code>drop</code> <code>dragend</code></td>
<td>-</td>
</tr>
<tr>
<td>node</td>
<td>当前操作节点(拖拽时表示目标节点)</td>
<td><code>NzTreeNode</code></td>
<td><code>null</code></td>
</tr>
<tr>
<td>event</td>
<td>原生事件</td>
<td><code>&#39;MouseEvent&#39; | &#39;DragEvent&#39;</code></td>
<td><code>null</code></td>
</tr>
<tr>
<td>dragNode?</td>
<td>当前拖拽节点(拖拽时存在)</td>
<td><code>NzTreeNode</code></td>
<td><code>null</code></td>
</tr>
<tr>
<td>selectedKeys?</td>
<td>已选中的节点key(单击时存在)</td>
<td><code>NzTreeNode[]</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>checkedKeys?</td>
<td>checkBox 已选中的节点key(点击 checkBox 存在)</td>
<td><code>NzTreeNode[]</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>matchedKeys?</td>
<td>搜索时匹配到的节点key</td>
<td><code>NzTreeNode[]</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>keys?</td>
<td>非拖拽事件相关的全部节点的key数组</td>
<td><code>string[]</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>nodes?</td>
<td>非拖拽事件相关的全部节点</td>
<td><code>NzTreeNode[]</code></td>
<td><code>[]</code></td>
</tr>
</tbody></table>
<h4 id="nzformatbeforedropevent-props"><span>NzFormatBeforeDropEvent props</span><a onclick="window.location.hash = 'nzformatbeforedropevent-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td>dragNode</td>
<td>当前拖拽节点(拖拽时存在)</td>
<td><code>NzTreeNode</code></td>
<td>-</td>
</tr>
<tr>
<td>node</td>
<td>当前操作节点(拖拽时表示目标节点)</td>
<td><code>NzTreeNode</code></td>
<td>-</td>
</tr>
<tr>
<td>pos</td>
<td>放置位置(-1:目标节点前面, 0: 目标节点内部, 1: 目标节点后面)</td>
<td><code>number</code></td>
<td>-</td>
</tr>
</tbody></table>
<h4 id="nztreenode-props"><span>NzTreeNode props</span><a onclick="window.location.hash = 'nztreenode-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td>title</td>
<td>标题</td>
<td><code>string</code></td>
<td>NzTreeNodeOptions.title</td>
</tr>
<tr>
<td>key</td>
<td>key值</td>
<td><code>string</code></td>
<td>NzTreeNodeOptions.key</td>
</tr>
<tr>
<td>level</td>
<td>层级(最顶层为0,子节点逐层加1)</td>
<td><code>number</code></td>
<td><code>number</code></td>
</tr>
<tr>
<td>children</td>
<td>子节点</td>
<td>NzTreeNode[]</td>
<td><code>[]</code></td>
</tr>
<tr>
<td>origin</td>
<td>原始节点树结构(用户提供,用于展示额外信息)</td>
<td>NzTreeNodeOptions</td>
<td>-</td>
</tr>
<tr>
<td>getParentNode</td>
<td>获取父节点</td>
<td>function</td>
<td><code>null</code></td>
</tr>
<tr>
<td>isLeaf</td>
<td>是否为叶子节点</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isExpanded</td>
<td>是否已展开</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isDisabled</td>
<td>是否禁用</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isDisableCheckbox</td>
<td>是否禁用 checkBox</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isSelectable</td>
<td>是否可选中</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>isChecked</td>
<td>是否选中 checkBox</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isHalfChecked</td>
<td>子节点有选中但未全选</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isSelected</td>
<td>是否已选中</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isLoading</td>
<td>是否异步加载状态(影响展开图标展示)</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>isMatched</td>
<td>title是否包含nzSearchValue(搜索使用)</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>setSyncChecked</td>
<td>设置 checked 状态并同步其他节点状态</td>
<td>function</td>
<td>-</td>
</tr>
<tr>
<td>getChildren</td>
<td>获取子节点,返回NzTreeNode数组</td>
<td>function</td>
<td>-</td>
</tr>
<tr>
<td>addChildren</td>
<td>添加子节点,接收NzTreeNode或NzTreeNodeOptions数组,第二个参数为插入的索引位置,默认插入末尾</td>
<td>(children: array, index?: number )=&gt;&#123;&#125;</td>
<td>-</td>
</tr>
<tr>
<td>clearChildren</td>
<td>清除子节点</td>
<td>function</td>
<td>-</td>
</tr>
<tr>
<td>remove</td>
<td>清除当前节点(非根节点)</td>
<td>function</td>
<td>-</td>
</tr>
</tbody></table>
<h2 id="注意"><span>注意</span><a onclick="window.location.hash = '注意'" class="anchor">#</a></h2><ul>
<li><code>NzTreeNodeOptions</code> 可以接受用户自定义属性，可通过 <code>NzTreeNode</code> 的 <code>origin</code> 属性取得。</li>
<li>使用 ViewChild 时，Tree 方法需要在 ngAfterViewInit 中调用。</li>
<li>nzData 属性请传递 NzTreeNodeOptions 数组。</li>
</ul>
</section></article>