<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-tooltip-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-tooltip-demo-placement" nzTitle="Placement"></nz-link><nz-link nzHref="#components-tooltip-demo-arrow-point-at-center" nzTitle="Arrow pointing at the center"></nz-link><nz-link nzHref="#components-tooltip-demo-template" nzTitle="Template"></nz-link><nz-link nzHref="#components-tooltip-demo-origin" nzTitle="Target"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Tooltip<span class="subtitle"></span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tooltip/doc/index.en-US.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>A simple text popup tip.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><ul>
<li>The tip is shown on mouse enter, and is hidden on mouse leave. The Tooltip doesn&#39;t support complex text or operations.</li>
<li>To provide an explanation of a <code>button/text/operation</code>. It&#39;s often used instead of the html <code>title</code> attribute.</li>
</ul>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzToolTipModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/tooltip'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="Expand All Code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="Basic"
  [nzId]="'components-tooltip-demo-basic'"
  nzSelector="nz-demo-tooltip-basic"
  [nzLink]="'components-tooltip-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:tooltip-basic <name>"
  nzComponentName="NzDemoTooltipBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tooltip/demo/basic.md'">
	<nz-demo-tooltip-basic demo></nz-demo-tooltip-basic>
	<div intro ngNonBindable>
		<p>The simplest usage.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Arrow pointing at the center"
  [nzId]="'components-tooltip-demo-arrow-point-at-center'"
  nzSelector="nz-demo-tooltip-arrow-point-at-center"
  [nzLink]="'components-tooltip-demo-arrow-point-at-center'"
  nzGenerateCommand="ng g ng-zorro-antd:tooltip-arrow-point-at-center <name>"
  nzComponentName="NzDemoTooltipArrowPointAtCenterComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tooltip/demo/arrow-point-at-center.md'">
	<nz-demo-tooltip-arrow-point-at-center demo></nz-demo-tooltip-arrow-point-at-center>
	<div intro ngNonBindable>
		<p>By specifying <code>nzTooltipPlacement</code> prop, the arrow can be point to the center of the target element.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Target"
  [nzId]="'components-tooltip-demo-origin'"
  nzSelector="nz-demo-tooltip-origin"
  [nzLink]="'components-tooltip-demo-origin'"
  nzGenerateCommand="ng g ng-zorro-antd:tooltip-origin <name>"
  nzComponentName="NzDemoTooltipOriginComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tooltip/demo/origin.md'">
	<nz-demo-tooltip-origin demo></nz-demo-tooltip-origin>
	<div intro ngNonBindable>
		<p>Use <code>nzTooltipOrigin</code> to set the origin of the tooltip (You can use the util class we provide <code>import &#123; NzElementPatchModule &#125; from &#39;ng-zorro-antd/core/element-patch&#39;</code>).</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="Placement"
  [nzId]="'components-tooltip-demo-placement'"
  nzSelector="nz-demo-tooltip-placement"
  [nzLink]="'components-tooltip-demo-placement'"
  nzGenerateCommand="ng g ng-zorro-antd:tooltip-placement <name>"
  nzComponentName="NzDemoTooltipPlacementComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tooltip/demo/placement.md'">
	<nz-demo-tooltip-placement demo></nz-demo-tooltip-placement>
	<div intro ngNonBindable>
		<p>The ToolTip has 12 placements choice.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Template"
  [nzId]="'components-tooltip-demo-template'"
  nzSelector="nz-demo-tooltip-template"
  [nzLink]="'components-tooltip-demo-template'"
  nzGenerateCommand="ng g ng-zorro-antd:tooltip-template <name>"
  nzComponentName="NzDemoTooltipTemplateComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tooltip/demo/template.md'">
	<nz-demo-tooltip-template demo></nz-demo-tooltip-template>
	<div intro ngNonBindable>
		<p><code>nzTooltipTitle</code> accept the type of <code>TemplateRef&lt;void&gt;</code></p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="[nz-tooltip]"><span>[nz-tooltip]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-tooltip]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzTooltipTitle]</code></td>
<td>The text shown in the tooltip</td>
<td><code>string | TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzTooltipTrigger]</code></td>
<td>Tooltip trigger mode. If set to <code>null</code> it would not be triggered</td>
<td><code>&#39;click&#39; | &#39;focus&#39; | &#39;hover&#39; | null</code></td>
<td><code>&#39;hover&#39;</code></td>
</tr>
<tr>
<td><code>[nzTooltipPlacement]</code></td>
<td>The position of the tooltip relative to the target</td>
<td><code>&#39;top&#39; | &#39;left&#39; | &#39;right&#39; | &#39;bottom&#39; | &#39;topLeft&#39; | &#39;topRight&#39; | &#39;bottomLeft&#39; | &#39;bottomRight&#39; | &#39;leftTop&#39; | &#39;leftBottom&#39; | &#39;rightTop&#39; | &#39;rightBottom&#39;</code></td>
<td><code>&#39;top&#39;</code></td>
</tr>
<tr>
<td><code>[nzTooltipOrigin]</code></td>
<td>Origin of the tooltip</td>
<td><code>ElementRef</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="common-api"><span>Common API</span><a onclick="window.location.hash = 'common-api'" class="anchor">#</a></h3><p>The following APIs are shared by <code>nz-tooltip</code>, <code>nz-popconfirm</code>, <code>nz-popover</code>.</p>
<table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzMouseEnterDelay]</code></td>
<td>Delay in seconds, before tooltip is shown on mouse enter</td>
<td><code>number</code></td>
<td><code>0.15</code></td>
</tr>
<tr>
<td><code>[nzMouseLeaveDelay]</code></td>
<td>Delay in seconds, before tooltip is hidden on mouse leave</td>
<td><code>number</code></td>
<td><code>0.1</code></td>
</tr>
<tr>
<td><code>[nzOverlayClassName]</code></td>
<td>Class name of the tooltip card</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzOverlayStyle]</code></td>
<td>Style of the tooltip card</td>
<td><code>object</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzVisible]</code></td>
<td>Whether the floating tooltip card is visible or not</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>(nzVisibleChange)</code></td>
<td>Callback executed when visibility of the tooltip card is changed</td>
<td><code>EventEmitter&lt;boolean&gt;</code></td>
<td>-</td>
</tr>
</tbody></table>
<table>
<thead>
<tr>
<th>Method</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><code>show</code></td>
<td>Show</td>
</tr>
<tr>
<td><code>hide</code></td>
<td>Hide</td>
</tr>
<tr>
<td><code>updatePosition</code></td>
<td>Update position</td>
</tr>
</tbody></table>
<h2 id="note"><span>Note</span><a onclick="window.location.hash = 'note'" class="anchor">#</a></h2><p>Please ensure that the child node of <code>nz-tooltip</code> accepts <code>onMouseEnter</code>, <code>onMouseLeave</code>, <code>onFocus</code>, <code>onClick</code> events.</p>
</section></article>