<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-checkbox-demo-basic" nzTitle="基本用法"></nz-link><nz-link nzHref="#components-checkbox-demo-disabled" nzTitle="不可用"></nz-link><nz-link nzHref="#components-checkbox-demo-controller" nzTitle="受控的 Checkbox"></nz-link><nz-link nzHref="#components-checkbox-demo-group" nzTitle="Checkbox 组"></nz-link><nz-link nzHref="#components-checkbox-demo-check-all" nzTitle="全选"></nz-link><nz-link nzHref="#components-checkbox-demo-layout" nzTitle="布局"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Checkbox<span class="subtitle">多选框</span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/doc/index.zh-CN.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>多选框。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><ul>
<li>在一组可选项中进行多项选择时；</li>
<li>单独使用可以表示两种状态之间的切换，和 <code>switch</code> 类似。区别在于切换 <code>switch</code> 会直接触发状态改变，而 <code>checkbox</code> 一般用于状态标记，需要和提交操作配合。</li>
</ul>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzCheckboxModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/checkbox'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="基本用法"
  [nzId]="'components-checkbox-demo-basic'"
  nzSelector="nz-demo-checkbox-basic"
  [nzLink]="'components-checkbox-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:checkbox-basic <name>"
  nzComponentName="NzDemoCheckboxBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/demo/basic.md'">
	<nz-demo-checkbox-basic demo></nz-demo-checkbox-basic>
	<div intro ngNonBindable>
		<p>简单的 checkbox。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="受控的 Checkbox"
  [nzId]="'components-checkbox-demo-controller'"
  nzSelector="nz-demo-checkbox-controller"
  [nzLink]="'components-checkbox-demo-controller'"
  nzGenerateCommand="ng g ng-zorro-antd:checkbox-controller <name>"
  nzComponentName="NzDemoCheckboxControllerComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/demo/controller.md'">
	<nz-demo-checkbox-controller demo></nz-demo-checkbox-controller>
	<div intro ngNonBindable>
		<p>联动 checkbox。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="全选"
  [nzId]="'components-checkbox-demo-check-all'"
  nzSelector="nz-demo-checkbox-check-all"
  [nzLink]="'components-checkbox-demo-check-all'"
  nzGenerateCommand="ng g ng-zorro-antd:checkbox-check-all <name>"
  nzComponentName="NzDemoCheckboxCheckAllComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/demo/check-all.md'">
	<nz-demo-checkbox-check-all demo></nz-demo-checkbox-check-all>
	<div intro ngNonBindable>
		<p>在实现全选效果时，你可能会用到 <code>nzIndeterminate</code> 属性。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="不可用"
  [nzId]="'components-checkbox-demo-disabled'"
  nzSelector="nz-demo-checkbox-disabled"
  [nzLink]="'components-checkbox-demo-disabled'"
  nzGenerateCommand="ng g ng-zorro-antd:checkbox-disabled <name>"
  nzComponentName="NzDemoCheckboxDisabledComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/demo/disabled.md'">
	<nz-demo-checkbox-disabled demo></nz-demo-checkbox-disabled>
	<div intro ngNonBindable>
		<p>checkbox 不可用。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Checkbox 组"
  [nzId]="'components-checkbox-demo-group'"
  nzSelector="nz-demo-checkbox-group"
  [nzLink]="'components-checkbox-demo-group'"
  nzGenerateCommand="ng g ng-zorro-antd:checkbox-group <name>"
  nzComponentName="NzDemoCheckboxGroupComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/demo/group.md'">
	<nz-demo-checkbox-group demo></nz-demo-checkbox-group>
	<div intro ngNonBindable>
		<p>方便的从数组生成 Checkbox 组。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="布局"
  [nzId]="'components-checkbox-demo-layout'"
  nzSelector="nz-demo-checkbox-layout"
  [nzLink]="'components-checkbox-demo-layout'"
  nzGenerateCommand="ng g ng-zorro-antd:checkbox-layout <name>"
  nzComponentName="NzDemoCheckboxLayoutComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/checkbox/demo/layout.md'">
	<nz-demo-checkbox-layout demo></nz-demo-checkbox-layout>
	<div intro ngNonBindable>
		<p><code>nz-checkbox-wrapper</code> 内嵌 <code>nz-checkbox</code> 并与 Grid 组件一起使用，可以实现灵活的布局。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="[nz-checkbox]"><span>[nz-checkbox]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-checkbox]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzAutoFocus]</code></td>
<td>自动获取焦点</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>设定 disable 状态</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[ngModel]</code></td>
<td>指定当前是否选中，可双向绑定</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[nzIndeterminate]</code></td>
<td>设置 indeterminate 状态，只负责样式控制</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[nzValue]</code></td>
<td>仅与 <code>nz-checkbox-wrapper</code> 的选中回调配合使用</td>
<td><code>any</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(ngModelChange)</code></td>
<td>选中变化时回调</td>
<td><code>EventEmitter&lt;boolean&gt;</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="nz-checkbox-group"><span>nz-checkbox-group</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-checkbox-group'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td><code>[ngModel]</code></td>
<td>指定可选项，可双向绑定</td>
<td><code>Array&lt;&#123; label: string; value: string; checked?: boolean; &#125;&gt;</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>设定全部 checkbox disable 状态</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>(ngModelChange)</code></td>
<td>选中数据变化时的回调</td>
<td><code>EventEmitter&lt;Array&lt;&#123; label: string; value: string; checked?: boolean; &#125;&gt;&gt;</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="nz-checkbox-wrapper"><span>nz-checkbox-wrapper</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-checkbox-wrapper'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td><code>(nzOnChange)</code></td>
<td>选中数据变化时的回调</td>
<td><code>EventEmitter&lt;any[]&gt;</code></td>
<td>-</td>
</tr>
</tbody></table>
<h2 id="方法"><span>方法</span><a onclick="window.location.hash = '方法'" class="anchor">#</a></h2><h3 id="[nz-checkbox]"><span>[nz-checkbox]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-checkbox]'" class="anchor">#</a></h3><p>通过ViewChild或其他方式获得 <code>nz-checkbox</code> 实例</p>
<table>
<thead>
<tr>
<th>名称</th>
<th>描述</th>
</tr>
</thead>
<tbody><tr>
<td>focus()</td>
<td>获取焦点</td>
</tr>
<tr>
<td>blur()</td>
<td>移除焦点</td>
</tr>
</tbody></table>
</section></article>