<div class="container">
    <nz-card>
        <div id="invoice" class="p-h-30">
            <div class="m-t-15 lh-2">
                <div class="inline-block">
                    <img class="img-fluid" src="assets/images/logo/logo.png" alt="">
                    <address class="p-l-10">
                        <span class="font-weight-semibold text-dark">Enlink, Inc.</span><br>
                        <span>9498 Harvard Street</span><br>
                        <span>Fairfield, Chicago Town 06824</span><br>
                        <abbr class="text-dark" title="Phone">Phone:</abbr>
                        <span>(123) 456-7890</span>
                    </address>
                </div>
                <div class="float-right">
                    <h2>INVOICE</h2>
                </div>
            </div>
            <div class="row m-t-20 lh-2">
                <div class="col-sm-9">
                    <h3 class="p-l-10 m-t-10">Invoice To:</h3>
                    <address class="p-l-10 m-t-10">
                        <span class="font-weight-semibold text-dark">Genting Holdings.</span><br>
                        <span>8626 Maiden Dr. </span><br>
                        <span>Niagara Falls, New York 14304</span>
                    </address>
                </div>
                <div class="col-sm-3">
                    <div class="m-t-80">
                        <div class="text-dark text-uppercase d-inline-block">
                            <span class="font-weight-semibold text-dark">Invoice No :</span></div>
                        <div class="float-right">#1668</div>
                    </div>
                    <div class="text-dark text-uppercase d-inline-block">
                        <span class="font-weight-semibold text-dark">Date :</span>
                    </div>
                    <div class="float-right">25/7/2018</div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-sm-12">
                    <nz-table #orderTable [nzData]="itemData" [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Items</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orderTable.data; let i = index;">
                                <td>{{i + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>${{item.price | number:'3.2-5'}}</td>
                                <td>
                                    ${{item.quantity * item.price | number:'3.2-5'}}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="row m-t-30 lh-1-8">
                        <div class="col-sm-12">
                            <div class="float-right text-right">
                                <p>Sub - Total amount: $2,325</p>
                                <p>vat (10%) : $232 </p>
                                <hr>
                                <h3><span class="font-weight-semibold text-dark">Total :</span> $2,557.00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-30 lh-2">
                        <div class="col-sm-12">
                            <div class="border top bottom p-v-20">
                                <p class="text-opacity"><small>In exceptional circumstances, Financial Services can provide an urgent manually processed special cheque. Note, however, that urgent special cheques should be requested only on an emergency basis as manually produced cheques involve duplication of effort and considerable staff resources. Requests need to be supported by a letter explaining the circumstances to justify the special cheque payment.</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="row m-v-20">
                        <div class="col-sm-6">
                            <img class="img-fluid text-opacity m-t-5" width="100" src="assets/images/logo/logo.png" alt="">
                        </div>
                        <div class="col-sm-6 text-right">
                            <small><span class="font-weight-semibold text-dark">Phone:</span> (123) 456-7890</small>
                            <br>
                            <small>support@themenate.com</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nz-card>
</div>