<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-progress-demo-line" nzTitle="进度条"></nz-link><nz-link nzHref="#components-progress-demo-circle" nzTitle="进度圈"></nz-link><nz-link nzHref="#components-progress-demo-line-mini" nzTitle="小型进度条"></nz-link><nz-link nzHref="#components-progress-demo-circle-mini" nzTitle="小型进度圈"></nz-link><nz-link nzHref="#components-progress-demo-circle-dynamic" nzTitle="进度圈动态展示"></nz-link><nz-link nzHref="#components-progress-demo-dynamic" nzTitle="动态展示"></nz-link><nz-link nzHref="#components-progress-demo-format" nzTitle="自定义文字格式"></nz-link><nz-link nzHref="#components-progress-demo-dashboard" nzTitle="仪表盘"></nz-link><nz-link nzHref="#components-progress-demo-segment" nzTitle="分段进度条"></nz-link><nz-link nzHref="#components-progress-demo-round" nzTitle="圆角/方角边缘"></nz-link><nz-link nzHref="#components-progress-demo-gradient" nzTitle="自定义进度条渐变色"></nz-link><nz-link nzHref="#components-progress-demo-step" nzTitle="步骤进度条"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Progress<span class="subtitle">进度条</span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/doc/index.zh-CN.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>展示操作的当前进度。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><p>在操作需要较长时间才能完成时，为用户显示该操作的当前进度和状态。</p>
<ul>
<li>当一个操作会打断当前界面，或者需要在后台运行，且耗时可能超过2秒时；</li>
<li>当需要显示一个操作完成的百分比时。</li>
</ul>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzProgressModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/progress'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="进度条"
  [nzId]="'components-progress-demo-line'"
  nzSelector="nz-demo-progress-line"
  [nzLink]="'components-progress-demo-line'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-line <name>"
  nzComponentName="NzDemoProgressLineComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/line.md'">
	<nz-demo-progress-line demo></nz-demo-progress-line>
	<div intro ngNonBindable>
		<p>标准的进度条。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="小型进度条"
  [nzId]="'components-progress-demo-line-mini'"
  nzSelector="nz-demo-progress-line-mini"
  [nzLink]="'components-progress-demo-line-mini'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-line-mini <name>"
  nzComponentName="NzDemoProgressLineMiniComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/line-mini.md'">
	<nz-demo-progress-line-mini demo></nz-demo-progress-line-mini>
	<div intro ngNonBindable>
		<p>适合放在较狭窄的区域内。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="进度圈动态展示"
  [nzId]="'components-progress-demo-circle-dynamic'"
  nzSelector="nz-demo-progress-circle-dynamic"
  [nzLink]="'components-progress-demo-circle-dynamic'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-circle-dynamic <name>"
  nzComponentName="NzDemoProgressCircleDynamicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/circle-dynamic.md'">
	<nz-demo-progress-circle-dynamic demo></nz-demo-progress-circle-dynamic>
	<div intro ngNonBindable>
		<p>会动的进度条才是好进度条。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="自定义文字格式"
  [nzId]="'components-progress-demo-format'"
  nzSelector="nz-demo-progress-format"
  [nzLink]="'components-progress-demo-format'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-format <name>"
  nzComponentName="NzDemoProgressFormatComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/format.md'">
	<nz-demo-progress-format demo></nz-demo-progress-format>
	<div intro ngNonBindable>
		<p><code>nzFormat</code> 属性指定格式。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="分段进度条"
  [nzId]="'components-progress-demo-segment'"
  nzSelector="nz-demo-progress-segment"
  [nzLink]="'components-progress-demo-segment'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-segment <name>"
  nzComponentName="NzDemoProgressSegmentComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/segment.md'">
	<nz-demo-progress-segment demo></nz-demo-progress-segment>
	<div intro ngNonBindable>
		<p>标准的进度条。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="自定义进度条渐变色"
  [nzId]="'components-progress-demo-gradient'"
  nzSelector="nz-demo-progress-gradient"
  [nzLink]="'components-progress-demo-gradient'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-gradient <name>"
  nzComponentName="NzDemoProgressGradientComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/gradient.md'">
	<nz-demo-progress-gradient demo></nz-demo-progress-gradient>
	<div intro ngNonBindable>
		<p><code>linear-gradient</code> 的封装。推荐只传两种颜色。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="进度圈"
  [nzId]="'components-progress-demo-circle'"
  nzSelector="nz-demo-progress-circle"
  [nzLink]="'components-progress-demo-circle'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-circle <name>"
  nzComponentName="NzDemoProgressCircleComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/circle.md'">
	<nz-demo-progress-circle demo></nz-demo-progress-circle>
	<div intro ngNonBindable>
		<p>圈形的进度。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="小型进度圈"
  [nzId]="'components-progress-demo-circle-mini'"
  nzSelector="nz-demo-progress-circle-mini"
  [nzLink]="'components-progress-demo-circle-mini'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-circle-mini <name>"
  nzComponentName="NzDemoProgressCircleMiniComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/circle-mini.md'">
	<nz-demo-progress-circle-mini demo></nz-demo-progress-circle-mini>
	<div intro ngNonBindable>
		<p>小一号的圈形进度。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="动态展示"
  [nzId]="'components-progress-demo-dynamic'"
  nzSelector="nz-demo-progress-dynamic"
  [nzLink]="'components-progress-demo-dynamic'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-dynamic <name>"
  nzComponentName="NzDemoProgressDynamicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/dynamic.md'">
	<nz-demo-progress-dynamic demo></nz-demo-progress-dynamic>
	<div intro ngNonBindable>
		<p>会动的进度条才是好进度条。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="仪表盘"
  [nzId]="'components-progress-demo-dashboard'"
  nzSelector="nz-demo-progress-dashboard"
  [nzLink]="'components-progress-demo-dashboard'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-dashboard <name>"
  nzComponentName="NzDemoProgressDashboardComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/dashboard.md'">
	<nz-demo-progress-dashboard demo></nz-demo-progress-dashboard>
	<div intro ngNonBindable>
		<p>通过设置 <code>nzType=&quot;dashboard&quot;</code>，可以很方便地实现仪表盘样式的进度条。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="圆角/方角边缘"
  [nzId]="'components-progress-demo-round'"
  nzSelector="nz-demo-progress-round"
  [nzLink]="'components-progress-demo-round'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-round <name>"
  nzComponentName="NzDemoProgressRoundComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/round.md'">
	<nz-demo-progress-round demo></nz-demo-progress-round>
	<div intro ngNonBindable>
		<p>通过设定 <code>nzStrokeLinecap=&#39;square|round&#39;</code> 可以调整进度条边缘的形状。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="步骤进度条"
  [nzId]="'components-progress-demo-step'"
  nzSelector="nz-demo-progress-step"
  [nzLink]="'components-progress-demo-step'"
  nzGenerateCommand="ng g ng-zorro-antd:progress-step <name>"
  nzComponentName="NzDemoProgressStepComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/progress/demo/step.md'">
	<nz-demo-progress-step demo></nz-demo-progress-step>
	<div intro ngNonBindable>
		<p>带步骤的进度条。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><p>各类型通用的属性。</p>
<table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
<th></th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzType]</code></td>
<td>类型</td>
<td><code>&#39;line&#39; | &#39;circle&#39; | &#39;dashboard&#39;</code></td>
<td><code>&#39;line&#39;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzFormat]</code></td>
<td>内容的模板函数</td>
<td><code>(percent: number) =&gt; string | TemplateRef&lt;&#123; $implicit: number &#125;&gt;</code></td>
<td><code>percent =&gt; percent + &#39;%&#39;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzPercent]</code></td>
<td>百分比</td>
<td><code>number</code></td>
<td><code>0</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzShowInfo]</code></td>
<td>是否显示进度数值或状态图标</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzStatus]</code></td>
<td>状态</td>
<td><code>&#39;success&#39; | &#39;exception&#39; | &#39;active&#39; | &#39;normal&#39;</code></td>
<td>-</td>
<td></td>
</tr>
<tr>
<td><code>[nzStrokeLinecap]</code></td>
<td>进度条端点形状</td>
<td><code>&#39;round&#39; | &#39;square&#39;</code></td>
<td><code>&#39;round&#39;</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzStrokeColor]</code></td>
<td>进度条颜色，传入对象时为渐变</td>
<td><code>string | &#123; from: string; to: string: direction: string; [percent: string]: string &#125;</code></td>
<td>-</td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzSuccessPercent]</code></td>
<td>已完成的分段百分比</td>
<td><code>number</code></td>
<td>0</td>
<td></td>
</tr>
</tbody></table>
<h3 id="<code>nztype=&quot;line&quot;</code>"><span><code>nzType=&quot;line&quot;</code></span><a onclick="window.location.hash = '<code>nztype=&quot;line&quot;</code>'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzStrokeWidth]</code></td>
<td>进度条线的宽度，单位 px</td>
<td><code>number</code></td>
<td><code>8</code></td>
</tr>
<tr>
<td><code>[nzSteps]</code></td>
<td>进度条总共步数</td>
<td><code>number</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="<code>nztype=&quot;circle&quot;</code>"><span><code>nzType=&quot;circle&quot;</code></span><a onclick="window.location.hash = '<code>nztype=&quot;circle&quot;</code>'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
<th></th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzWidth]</code></td>
<td>圆形进度条画布宽度，单位 px</td>
<td><code>number</code></td>
<td><code>132</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzStrokeWidth]</code></td>
<td>圆形进度条线的宽度，单位是进度条画布宽度的百分比</td>
<td><code>number</code></td>
<td><code>6</code></td>
<td>✅</td>
</tr>
</tbody></table>
<h3 id="<code>nztype=&quot;dashboard&quot;</code>"><span><code>nzType=&quot;dashboard&quot;</code></span><a onclick="window.location.hash = '<code>nztype=&quot;dashboard&quot;</code>'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
<th></th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzWidth]</code></td>
<td>仪表盘进度条画布宽度，单位 px</td>
<td><code>number</code></td>
<td><code>132</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzStrokeWidth]</code></td>
<td>仪表盘进度条线的宽度，单位是进度条画布宽度的百分比</td>
<td><code>number</code></td>
<td><code>6</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzGapDegree]</code></td>
<td>仪表盘进度条缺口角度，可取值 0 ~ 360</td>
<td><code>number</code></td>
<td><code>0</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzGapPosition]</code></td>
<td>仪表盘进度条缺口位置</td>
<td><code>&#39;top&#39; | &#39;right&#39; | &#39;bottom&#39; | &#39;left&#39;</code></td>
<td><code>&#39;top&#39;</code></td>
<td>✅</td>
</tr>
</tbody></table>
</section></article>