<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-auto-complete-demo-basic" nzTitle="Basic Usage"></nz-link><nz-link nzHref="#components-auto-complete-demo-options" nzTitle="Customized"></nz-link><nz-link nzHref="#components-auto-complete-demo-custom" nzTitle="Customize Input Component"></nz-link><nz-link nzHref="#components-auto-complete-demo-non-case-sensitive" nzTitle="Non-case-sensitive AutoComplete"></nz-link><nz-link nzHref="#components-auto-complete-demo-certain-category" nzTitle="Lookup-Patterns - Certain Category"></nz-link><nz-link nzHref="#components-auto-complete-demo-uncertain-category" nzTitle="Lookup-Patterns - Uncertain Category"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Autocomplete<span class="subtitle"></span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/doc/index.en-US.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Autocomplete function of input field.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>When there is a need for autocomplete functionality.</p>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzAutocompleteModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/auto-complete'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="Expand All Code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="Basic Usage"
  [nzId]="'components-auto-complete-demo-basic'"
  nzSelector="nz-demo-auto-complete-basic"
  [nzLink]="'components-auto-complete-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:auto-complete-basic <name>"
  nzComponentName="NzDemoAutoCompleteBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/demo/basic.md'">
	<nz-demo-auto-complete-basic demo></nz-demo-auto-complete-basic>
	<div intro ngNonBindable>
		<p>Basic Usage, set <code>nzDataSource</code>  of <code>nz-autocomplete</code> with dataSource property.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Customize Input Component"
  [nzId]="'components-auto-complete-demo-custom'"
  nzSelector="nz-demo-auto-complete-custom"
  [nzLink]="'components-auto-complete-demo-custom'"
  nzGenerateCommand="ng g ng-zorro-antd:auto-complete-custom <name>"
  nzComponentName="NzDemoAutoCompleteCustomComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/demo/custom.md'">
	<nz-demo-auto-complete-custom demo></nz-demo-auto-complete-custom>
	<div intro ngNonBindable>
		<p>Customize Input Component</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Lookup-Patterns - Certain Category"
  [nzId]="'components-auto-complete-demo-certain-category'"
  nzSelector="nz-demo-auto-complete-certain-category"
  [nzLink]="'components-auto-complete-demo-certain-category'"
  nzGenerateCommand="ng g ng-zorro-antd:auto-complete-certain-category <name>"
  nzComponentName="NzDemoAutoCompleteCertainCategoryComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/demo/certain-category.md'">
	<nz-demo-auto-complete-certain-category demo></nz-demo-auto-complete-certain-category>
	<div intro ngNonBindable>
		<p>Demonstration of <a href="https://ant.design/docs/spec/reaction#Lookup-Patterns">Lookup Patterns: Certain Category</a>.</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="Customized"
  [nzId]="'components-auto-complete-demo-options'"
  nzSelector="nz-demo-auto-complete-options"
  [nzLink]="'components-auto-complete-demo-options'"
  nzGenerateCommand="ng g ng-zorro-antd:auto-complete-options <name>"
  nzComponentName="NzDemoAutoCompleteOptionsComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/demo/options.md'">
	<nz-demo-auto-complete-options demo></nz-demo-auto-complete-options>
	<div intro ngNonBindable>
		<p>You could pass <code>nz-auto-option</code> as Content of <code>nz-autocomplete</code>, instead of using nzDataSource`.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Non-case-sensitive AutoComplete"
  [nzId]="'components-auto-complete-demo-non-case-sensitive'"
  nzSelector="nz-demo-auto-complete-non-case-sensitive"
  [nzLink]="'components-auto-complete-demo-non-case-sensitive'"
  nzGenerateCommand="ng g ng-zorro-antd:auto-complete-non-case-sensitive <name>"
  nzComponentName="NzDemoAutoCompleteNonCaseSensitiveComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/demo/non-case-sensitive.md'">
	<nz-demo-auto-complete-non-case-sensitive demo></nz-demo-auto-complete-non-case-sensitive>
	<div intro ngNonBindable>
		<p>A non-case-sensitive AutoComplete</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Lookup-Patterns - Uncertain Category"
  [nzId]="'components-auto-complete-demo-uncertain-category'"
  nzSelector="nz-demo-auto-complete-uncertain-category"
  [nzLink]="'components-auto-complete-demo-uncertain-category'"
  nzGenerateCommand="ng g ng-zorro-antd:auto-complete-uncertain-category <name>"
  nzComponentName="NzDemoAutoCompleteUncertainCategoryComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/auto-complete/demo/uncertain-category.md'">
	<nz-demo-auto-complete-uncertain-category demo></nz-demo-auto-complete-uncertain-category>
	<div intro ngNonBindable>
		<p>Demonstration of <a href="https://ant.design/docs/spec/reaction#Lookup-Patterns">Lookup Patterns: Uncertain Category</a>.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><pre class="language-html"><code><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">nz-input</span> <span class="token attr-name">[(ngModel)]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>value<span class="token punctuation">"</span></span> <span class="token attr-name">[nzAutocomplete]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>auto<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-autocomplete</span> <span class="token attr-name">[nzDataSource]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>[<span class="token punctuation">'</span>12345<span class="token punctuation">'</span>, <span class="token punctuation">'</span>23456<span class="token punctuation">'</span>, <span class="token punctuation">'</span>34567<span class="token punctuation">'</span>]<span class="token punctuation">"</span></span> <span class="token attr-name">#auto</span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-autocomplete</span><span class="token punctuation">></span></span></code></pre>
<pre class="language-html"><code><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">nz-input</span> <span class="token attr-name">[(ngModel)]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>value<span class="token punctuation">"</span></span> <span class="token attr-name">[nzAutocomplete]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>auto<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-autocomplete</span> <span class="token attr-name">#auto</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-auto-option</span> <span class="token attr-name">[nzValue]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token punctuation">'</span>12345<span class="token punctuation">'</span><span class="token punctuation">"</span></span><span class="token punctuation">></span></span>12345<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-auto-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-auto-option</span> <span class="token attr-name">[nzValue]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token punctuation">'</span>23456<span class="token punctuation">'</span><span class="token punctuation">"</span></span><span class="token punctuation">></span></span>23456<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-auto-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-auto-option</span> <span class="token attr-name">[nzValue]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token punctuation">'</span>34567<span class="token punctuation">'</span><span class="token punctuation">"</span></span><span class="token punctuation">></span></span>34567<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-auto-option</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-autocomplete</span><span class="token punctuation">></span></span></code></pre>
<h3 id="[nzautocomplete]"><span>[nzAutocomplete]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nzautocomplete]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzAutocomplete]</code></td>
<td>used to bind <code>nzAutocomplete</code> components</td>
<td><code>NzAutocompleteComponent</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="nz-autocomplete"><span>nz-autocomplete</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-autocomplete'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzBackfill]</code></td>
<td>backfill selected item the input when using keyboard</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[nzDataSource]</code></td>
<td>Data source for autocomplete</td>
<td><code>AutocompleteDataSource</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDefaultActiveFirstOption]</code></td>
<td>Whether active first option by default</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td><code>[nzWidth]</code></td>
<td>Custom width, unit px</td>
<td><code>number</code></td>
<td>trigger element width</td>
</tr>
<tr>
<td><code>[nzOverlayClassName]</code></td>
<td>Class name of the dropdown root element</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzOverlayStyle]</code></td>
<td>Style of the dropdown root element</td>
<td><code>object</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="nz-auto-option"><span>nz-auto-option</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-auto-option'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzValue]</code></td>
<td>bind ngModel of the trigger element</td>
<td><code>any</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzLabel]</code></td>
<td>display value of the trigger element</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>disabled option</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
</tbody></table>
</section></article>