<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-comment-demo-basic" nzTitle="Basic comment"></nz-link><nz-link nzHref="#components-comment-demo-list" nzTitle="Usage with list"></nz-link><nz-link nzHref="#components-comment-demo-nested" nzTitle="Nested comments"></nz-link><nz-link nzHref="#components-comment-demo-editor" nzTitle="Reply Editor"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Comment<span class="subtitle"></span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/comment/doc/index.en-US.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>A comment displays user feedback and discussion to website content.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>Comments can be used to enable discussions on an entity such as a page, blog post, issue or other.</p>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzCommentModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/comment'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="Expand All Code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box
  nzTitle="Basic comment"
  [nzId]="'components-comment-demo-basic'"
  nzSelector="nz-demo-comment-basic"
  [nzLink]="'components-comment-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:comment-basic <name>"
  nzComponentName="NzDemoCommentBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/comment/demo/basic.md'">
	<nz-demo-comment-basic demo></nz-demo-comment-basic>
	<div intro ngNonBindable>
		<p>A basic comment with author, avatar, time and actions.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Usage with list"
  [nzId]="'components-comment-demo-list'"
  nzSelector="nz-demo-comment-list"
  [nzLink]="'components-comment-demo-list'"
  nzGenerateCommand="ng g ng-zorro-antd:comment-list <name>"
  nzComponentName="NzDemoCommentListComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/comment/demo/list.md'">
	<nz-demo-comment-list demo></nz-demo-comment-list>
	<div intro ngNonBindable>
		<p>Displaying a series of comments using the <code>nz-list</code> Component.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Nested comments"
  [nzId]="'components-comment-demo-nested'"
  nzSelector="nz-demo-comment-nested"
  [nzLink]="'components-comment-demo-nested'"
  nzGenerateCommand="ng g ng-zorro-antd:comment-nested <name>"
  nzComponentName="NzDemoCommentNestedComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/comment/demo/nested.md'">
	<nz-demo-comment-nested demo></nz-demo-comment-nested>
	<div intro ngNonBindable>
		<p>Comments can be nested.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Reply Editor"
  [nzId]="'components-comment-demo-editor'"
  nzSelector="nz-demo-comment-editor"
  [nzLink]="'components-comment-demo-editor'"
  nzGenerateCommand="ng g ng-zorro-antd:comment-editor <name>"
  nzComponentName="NzDemoCommentEditorComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/comment/demo/editor.md'">
	<nz-demo-comment-editor demo></nz-demo-comment-editor>
	<div intro ngNonBindable>
		<p>Comment can be used as editor, user can customize the editor component.</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-comment"><span>nz-comment</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-comment'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td>[nzAuthor]</td>
<td>The element to display as the comment author</td>
<td><code>string | TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td>[nzDatetime]</td>
<td>A datetime element containing the time to be displayed</td>
<td><code>string | TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody></table>
<h3 id="[nz-comment-avatar]"><span>[nz-comment-avatar]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-comment-avatar]'" class="anchor">#</a></h3><p>The element to display as the comment avatar.</p>
<h3 id="nz-comment-content"><span>nz-comment-content</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-comment-content'" class="anchor">#</a></h3><p>The main content of the comment.</p>
<h3 id="nz-comment-action"><span>nz-comment-action</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-comment-action'" class="anchor">#</a></h3><p>The element items rendered below the comment content.</p>
</section></article>