<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-popover-demo-basic" nzTitle="基本"></nz-link><nz-link nzHref="#components-popover-demo-placement" nzTitle="位置"></nz-link><nz-link nzHref="#components-popover-demo-control" nzTitle="从浮层内关闭"></nz-link><nz-link nzHref="#components-popover-demo-arrow-point-at-center" nzTitle="箭头指向"></nz-link><nz-link nzHref="#components-popover-demo-template" nzTitle="模板渲染"></nz-link><nz-link nzHref="#components-popover-demo-trigger-type" nzTitle="三种触发方式"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Popover<span class="subtitle">气泡卡片</span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/doc/index.zh-CN.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>点击/鼠标移入元素，弹出气泡式的卡片浮层。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><p>当目标元素有进一步的描述和相关操作时，可以收纳到卡片中，根据用户的操作行为进行展现。</p>
<p>和 <code>Tooltip</code> 的区别是，用户可以对浮层上的元素进行操作，因此它可以承载更复杂的内容，比如链接或按钮等。</p>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzPopoverModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/popover'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="基本"
  [nzId]="'components-popover-demo-basic'"
  nzSelector="nz-demo-popover-basic"
  [nzLink]="'components-popover-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:popover-basic <name>"
  nzComponentName="NzDemoPopoverBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/demo/basic.md'">
	<nz-demo-popover-basic demo></nz-demo-popover-basic>
	<div intro ngNonBindable>
		<p>最简单的用法，浮层的大小由内容区域决定。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="从浮层内关闭"
  [nzId]="'components-popover-demo-control'"
  nzSelector="nz-demo-popover-control"
  [nzLink]="'components-popover-demo-control'"
  nzGenerateCommand="ng g ng-zorro-antd:popover-control <name>"
  nzComponentName="NzDemoPopoverControlComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/demo/control.md'">
	<nz-demo-popover-control demo></nz-demo-popover-control>
	<div intro ngNonBindable>
		<p>使用 <code>nzVisible</code> 属性控制浮层显示。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="模板渲染"
  [nzId]="'components-popover-demo-template'"
  nzSelector="nz-demo-popover-template"
  [nzLink]="'components-popover-demo-template'"
  nzGenerateCommand="ng g ng-zorro-antd:popover-template <name>"
  nzComponentName="NzDemoPopoverTemplateComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/demo/template.md'">
	<nz-demo-popover-template demo></nz-demo-popover-template>
	<div intro ngNonBindable>
		<p><code>nzPopoverContent</code> 与 <code>nzPopoverTitle</code> 可以传入 <code>TemplateRef&lt;void&gt;</code> 模板渲染。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="位置"
  [nzId]="'components-popover-demo-placement'"
  nzSelector="nz-demo-popover-placement"
  [nzLink]="'components-popover-demo-placement'"
  nzGenerateCommand="ng g ng-zorro-antd:popover-placement <name>"
  nzComponentName="NzDemoPopoverPlacementComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/demo/placement.md'">
	<nz-demo-popover-placement demo></nz-demo-popover-placement>
	<div intro ngNonBindable>
		<p>位置有十二个方向。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="箭头指向"
  [nzId]="'components-popover-demo-arrow-point-at-center'"
  nzSelector="nz-demo-popover-arrow-point-at-center"
  [nzLink]="'components-popover-demo-arrow-point-at-center'"
  nzGenerateCommand="ng g ng-zorro-antd:popover-arrow-point-at-center <name>"
  nzComponentName="NzDemoPopoverArrowPointAtCenterComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/demo/arrow-point-at-center.md'">
	<nz-demo-popover-arrow-point-at-center demo></nz-demo-popover-arrow-point-at-center>
	<div intro ngNonBindable>
		<p>通过设置 <code>nzPopoverPlacement</code> ，可以箭头将指向目标元素的中心。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="三种触发方式"
  [nzId]="'components-popover-demo-trigger-type'"
  nzSelector="nz-demo-popover-trigger-type"
  [nzLink]="'components-popover-demo-trigger-type'"
  nzGenerateCommand="ng g ng-zorro-antd:popover-trigger-type <name>"
  nzComponentName="NzDemoPopoverTriggerTypeComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/popover/demo/trigger-type.md'">
	<nz-demo-popover-trigger-type demo></nz-demo-popover-trigger-type>
	<div intro ngNonBindable>
		<p>鼠标移入、聚集、点击。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="[nz-popover]"><span>[nz-popover]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-popover]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzPopoverTitle]</code></td>
<td>标题</td>
<td><code>string | TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzPopoverContent]</code></td>
<td>用于定义内容</td>
<td><code>string | TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzPopoverTrigger]</code></td>
<td>触发行为，为 <code>null</code> 时不响应光标事件</td>
<td><code>&#39;click&#39; | &#39;focus&#39; | &#39;hover&#39; | null</code></td>
<td><code>&#39;hover&#39;</code></td>
</tr>
<tr>
<td><code>[nzPopoverPlacement]</code></td>
<td>气泡框位置</td>
<td><code>&#39;top&#39; | &#39;left&#39; | &#39;right&#39; | &#39;bottom&#39; | &#39;topLeft&#39; | &#39;topRight&#39; | &#39;bottomLeft&#39; | &#39;bottomRight&#39; | &#39;leftTop&#39; | &#39;leftBottom&#39; | &#39;rightTop&#39; | &#39;rightBottom&#39;</code></td>
<td><code>&#39;top&#39;</code></td>
</tr>
<tr>
<td><code>[nzPopoverOrigin]</code></td>
<td>气泡框定位元素</td>
<td><code>ElementRef</code></td>
<td>-</td>
</tr>
</tbody></table>
<p>更多属性请参考 <a href="/components/tooltip/zh#api">Tooltip</a>。</p>
<h2 id="注意"><span>注意</span><a onclick="window.location.hash = '注意'" class="anchor">#</a></h2><p>请确保 <code>nz-popover</code> 的子元素能接受 <code>onMouseEnter</code>、<code>onMouseLeave</code>、<code>onFocus</code>、<code>onClick</code> 事件。</p>
</section></article>