<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-descriptions-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-descriptions-demo-border" nzTitle="Border"></nz-link><nz-link nzHref="#components-descriptions-demo-custom-size" nzTitle="Custom size"></nz-link><nz-link nzHref="#components-descriptions-demo-responsive" nzTitle="Responsive"></nz-link><nz-link nzHref="#components-descriptions-demo-vertical" nzTitle="Vertical"></nz-link><nz-link nzHref="#components-descriptions-demo-vertical-border" nzTitle="Vertical border"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Descriptions<span class="subtitle"></span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/doc/index.en-US.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Display multiple read-only fields in groups.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>Commonly displayed on the details page.</p>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzDescriptionsModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/descriptions'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="Expand All Code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box
  nzTitle="Basic"
  [nzId]="'components-descriptions-demo-basic'"
  nzSelector="nz-demo-descriptions-basic"
  [nzLink]="'components-descriptions-demo-basic'"
  nzGenerateCommand="ng g ng-zorro-antd:descriptions-basic <name>"
  nzComponentName="NzDemoDescriptionsBasicComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/demo/basic.md'">
	<nz-demo-descriptions-basic demo></nz-demo-descriptions-basic>
	<div intro ngNonBindable>
		<p>Basic usage.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Border"
  [nzId]="'components-descriptions-demo-border'"
  nzSelector="nz-demo-descriptions-border"
  [nzLink]="'components-descriptions-demo-border'"
  nzGenerateCommand="ng g ng-zorro-antd:descriptions-border <name>"
  nzComponentName="NzDemoDescriptionsBorderComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/demo/border.md'">
	<nz-demo-descriptions-border demo></nz-demo-descriptions-border>
	<div intro ngNonBindable>
		<p>Descriptions with border and background color.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Custom size"
  [nzId]="'components-descriptions-demo-custom-size'"
  nzSelector="nz-demo-descriptions-custom-size"
  [nzLink]="'components-descriptions-demo-custom-size'"
  nzGenerateCommand="ng g ng-zorro-antd:descriptions-custom-size <name>"
  nzComponentName="NzDemoDescriptionsCustomSizeComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/demo/custom-size.md'">
	<nz-demo-descriptions-custom-size demo></nz-demo-descriptions-custom-size>
	<div intro ngNonBindable>
		<p>Custom sizes to fit in a variety of containers.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Responsive"
  [nzId]="'components-descriptions-demo-responsive'"
  nzSelector="nz-demo-descriptions-responsive"
  [nzLink]="'components-descriptions-demo-responsive'"
  nzGenerateCommand="ng g ng-zorro-antd:descriptions-responsive <name>"
  nzComponentName="NzDemoDescriptionsResponsiveComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/demo/responsive.md'">
	<nz-demo-descriptions-responsive demo></nz-demo-descriptions-responsive>
	<div intro ngNonBindable>
		<p>Responsive configuration enables perfect presentation on small screen devices.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Vertical"
  [nzId]="'components-descriptions-demo-vertical'"
  nzSelector="nz-demo-descriptions-vertical"
  [nzLink]="'components-descriptions-demo-vertical'"
  nzGenerateCommand="ng g ng-zorro-antd:descriptions-vertical <name>"
  nzComponentName="NzDemoDescriptionsVerticalComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/demo/vertical.md'">
	<nz-demo-descriptions-vertical demo></nz-demo-descriptions-vertical>
	<div intro ngNonBindable>
		<p>Responsive configuration enables perfect presentation on small screen devices.</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="Vertical border"
  [nzId]="'components-descriptions-demo-vertical-border'"
  nzSelector="nz-demo-descriptions-vertical-border"
  [nzLink]="'components-descriptions-demo-vertical-border'"
  nzGenerateCommand="ng g ng-zorro-antd:descriptions-vertical-border <name>"
  nzComponentName="NzDemoDescriptionsVerticalBorderComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/descriptions/demo/vertical-border.md'">
	<nz-demo-descriptions-vertical-border demo></nz-demo-descriptions-vertical-border>
	<div intro ngNonBindable>
		<p>Vertical descriptions with border.</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-descriptions"><span>nz-descriptions</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-descriptions'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
<th>Global Config</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzTitle]</code></td>
<td>Describe the title of the list, displayed at the top</td>
<td><code>string|TemplateRef&lt;void&gt;</code></td>
<td><code>false</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzBordered]</code></td>
<td>Whether to display the border</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzColumn]</code></td>
<td>The number of <code>nz-descriptions-item</code> in a row. It could be a number or a object like <code>&#123; xs: 8, sm: 16, md: 24&#125;</code></td>
<td><code>number|object</code></td>
<td><code>&#123; xxl: 3, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 &#125;</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>Set the size of the list. Only works when <code>nzBordered</code> is set</td>
<td><code>&#39;default&#39; | &#39;middle&#39; | &#39;small&#39;</code></td>
<td><code>&#39;default&#39;</code></td>
<td>✅</td>
</tr>
<tr>
<td><code>[nzColon]</code></td>
<td>Show colon after title</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
<td>✅</td>
</tr>
</tbody></table>
<h3 id="nz-descriptions-item"><span>nz-descriptions-item</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-descriptions-item'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzTitle]</code></td>
<td>Description of the content</td>
<td><code>boolean</code></td>
<td><code>string|TemplateRef&lt;void&gt;</code></td>
</tr>
<tr>
<td><code>[nzSpan]</code></td>
<td>The number of columns included</td>
<td><code>number</code></td>
<td><code>1</code></td>
</tr>
</tbody></table>
</section></article>