<article>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
        <nz-link nzHref="#components-divider-demo-horizontal" nzTitle="水平分割线"></nz-link><nz-link nzHref="#components-divider-demo-orientation" nzTitle="标题位置"></nz-link><nz-link nzHref="#components-divider-demo-vertical" nzTitle="垂直分割线"></nz-link><nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
</nz-affix><section class="markdown">
	<h1>Divider<span class="subtitle">分割线</span><span class="widget"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/divider/doc/index.zh-CN.md" target="_blank" rel="noopener noreferrer">
		<i nz-icon nzType="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>区隔内容的分割线。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><ul>
<li>对不同章节的文本段落进行分割。</li>
<li>对行内文字/链接进行分割，例如表格的操作列。</li>
</ul>
<pre class="language-ts"><code><span class="token keyword">import</span> <span class="token punctuation">&#123;</span> NzDividerModule <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'ng-zorro-antd/divider'</span><span class="token punctuation">;</span></code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon nzType="appstore" class="code-box-expand-trigger" nz-tooltip nzTooltipTitle="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="水平分割线"
  [nzId]="'components-divider-demo-horizontal'"
  nzSelector="nz-demo-divider-horizontal"
  [nzLink]="'components-divider-demo-horizontal'"
  nzGenerateCommand="ng g ng-zorro-antd:divider-horizontal <name>"
  nzComponentName="NzDemoDividerHorizontalComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/divider/demo/horizontal.md'">
	<nz-demo-divider-horizontal demo></nz-demo-divider-horizontal>
	<div intro ngNonBindable>
		<p>默认为水平分割线，可在中间加入文字。</p>

	</div>
</nz-code-box>
<nz-code-box
  nzTitle="垂直分割线"
  [nzId]="'components-divider-demo-vertical'"
  nzSelector="nz-demo-divider-vertical"
  [nzLink]="'components-divider-demo-vertical'"
  nzGenerateCommand="ng g ng-zorro-antd:divider-vertical <name>"
  nzComponentName="NzDemoDividerVerticalComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/divider/demo/vertical.md'">
	<nz-demo-divider-vertical demo></nz-demo-divider-vertical>
	<div intro ngNonBindable>
		<p>使用 <code>nzType=&quot;vertical&quot;</code> 设置为行内的垂直分割线。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzXl]="12" [nzSpan]="24">
		<nz-code-box
  nzTitle="标题位置"
  [nzId]="'components-divider-demo-orientation'"
  nzSelector="nz-demo-divider-orientation"
  [nzLink]="'components-divider-demo-orientation'"
  nzGenerateCommand="ng g ng-zorro-antd:divider-orientation <name>"
  nzComponentName="NzDemoDividerOrientationComponent"
  nzIframeSource="null"
  nzIframeHeight="null"
  [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/divider/demo/orientation.md'">
	<nz-demo-divider-orientation demo></nz-demo-divider-orientation>
	<div intro ngNonBindable>
		<p>修改分割线标题的位置。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-divider"><span>nz-divider</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-divider'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody><tr>
<td><code>[nzDashed]</code></td>
<td>是否虚线</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[nzType]</code></td>
<td>水平还是垂直类型</td>
<td><code>&#39;horizontal&#39; | &#39;vertical&#39;</code></td>
<td><code>&#39;horizontal&#39;</code></td>
</tr>
<tr>
<td><code>[nzText]</code></td>
<td>中间文字</td>
<td><code>string | TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzOrientation]</code></td>
<td>中间文字方向</td>
<td><code>&#39;center&#39; | &#39;left&#39; | &#39;right&#39;</code></td>
<td><code>&#39;center&#39;</code></td>
</tr>
</tbody></table>
</section></article>